.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  top: 0;
  z-index: 1;
  width: 100%;
  position: fixed;
  background: black;
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}

.ReactModal__Overlay {
  z-index: 2;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Brand logo */
.brand img {
	max-height:2.5rem;
}
.brand img:hover{
	opacity:0.6;
}

/* Custom page footer */
.footer {
  color: #777;
  border-top: .05rem solid #e5e5e5;
  text-align: center;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}

.footer-container {
  margin-top: 5em;
}

.main-container {
  margin-top: 7em;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
